body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#2a2a2a !important;
}


#root{
  width: 100%;
  height: 100%;
}


.hero_container {
  position: relative;
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative;
  /* background: linear-gradient(180deg,#297af9,#333fb7); */
  z-index: 1;
  box-shadow: 2px 3px 5px rgba(0,0,0,.6);
  margin: 20px 0px ;
  
 
}

.hero_container .lone{

  cursor: pointer;
  position: absolute;
  font-size: 30px;
  top: 0;
  left: 15px;
  z-index: 5;
}

/* background: linear-gradient(0deg,#6c7ee3,#92d3e1); */
.hero_container:before{
  content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .2);  
    filter: blur(15px);
    
}


.text-block{
  z-index: 3;
  display: flex;
  flex-direction: column;
  height: auto;
}
 .banner{
  width: 100%;
  text-align: center;
} 
.banner p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-shadow:
    1px 1px 0 #000;
}
 .main{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}





.main__icon{
  padding-left:30px;
  width: 260px;

}
.main__icon i{
  font-size:150px;
  text-shadow:
    1px 1px 0 #000;
}
.main__icon p{
  font-family:Open 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  padding-left: 30px;
  font-size: 30px;
  /* color:#fff; */
  font-weight: 700;
  text-shadow:
    1px 1px 0 #000;
}
.temp{
  width: 260px;
  text-align: right;
  padding-right:30px;
  text-shadow:
    1px 1px 0 #000;
}
.temp .temp_val{
  font-size:110px;
  margin:0 auto;
  text-shadow:
    1px 1px 0 #000;
}
.realfeel{
  font-size: 25px;
}
.rs{
  font-size: 25px;
}
.temp_val span{
  font-size: 50px;
  
}




.forcast__wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.weather_card{
  cursor: pointer;
  height: 280px;
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg,#297af9,#333fb7);
  color: #fff;
  font-weight: 700;
  box-shadow: 2px 3px 5px rgba(0,0,0,.6);
  transition: all 300ms ease-in;
  z-index: 1;
  position: relative;
  margin-bottom: 20px;
 }


 .weather_card:hover{
   transform: scale(1.01);
 }

.icon__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon__wrapper i{
  font-size: 80px;
  padding: 5px;
  margin-bottom: 5px;
}
.icon__wrapper p{
  height: 25px;;
  text-align: center;
  font-weight: 700;
  margin-top: 0px;
}
.hi__low{
  margin:5px 0;
}
.hi__low i{
  margin-right: 5px;
  margin-left: 5px;
}

.text-centr{
  text-align: center;
}


.graph-container{
  box-sizing: border-box;
  margin-top: 20px;
  width: 100%;
  height: 500px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);  
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.graph-container:before{
  content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .7);  
    filter: blur(15px);
    
}

.graph-container h3{
  color:#212121;
}

.search{
  position: relative;
 
}
.search .input-group{
  margin-top: 1rem  0;
}
.input__list{
  margin-top: 10px;
  position: absolute;
  height: 400px;
  width: 100%;
  background: #fff;
  z-index: 4;
  overflow-y: auto;
  list-style: none;
  padding:10px;
  padding-left:5px;
  transition: all 300ms ease-in-out;
  border:2px solid #17a2b8;
}
.input__list li{
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
  color:#2a2a2a;
  transition: all 300ms ease-in-out;
}

.input__list li:hover{
  background: #17a2b8;

}

.error_list{
  color: aliceblue;
  font-weight: 600;

}


.loading_container{
  width: 100%;
  height: 100vh;
  background: rgb(53, 126, 221);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


@media (min-width: 481px) and (max-width: 767px) {
  .hero_container{
    margin: 20px 5px;
  }
  .main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .banner p{
    
    font-size: 25px;
    
  }

  .main__icon{
    padding-left:0;
    text-align: center;
  
  }
  .main__icon i{
    font-size:100px;
    text-shadow:
      1px 1px 0 #000;
  }
  .main__icon p{
    padding:0;
  }
  .temp{
    padding:0;
  }

  .temp .temp_val{
    font-size:80px;
    text-align: center;
    
  }
  .realfeel{
    text-align: center;
  }
  .rs{
    text-align: center;
  }

  .navbar-brand{
    text-align: center;
    margin: 0 auto;
  }
  .search{
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  
}



@media (min-width: 320px) and (max-width: 480px) {
  .main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .banner p{
    
    font-size: 25px;
    
  }

  .main__icon{
    padding-left:0;
    text-align: center;
  
  }
  .main__icon i{
    font-size:100px;
    text-shadow:
      1px 1px 0 #000;
  }
  .main__icon p{
    padding:0;
  }

  .temp .temp_val{
    font-size:80px;
    
  }

  .navbar-brand{
    text-align: center;
    margin: 0 auto;
  }
  .search{
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  
}